Repository healthkowshik/open-wearables: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-backend, ty-mcp

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.2
    hooks:
      # Run the linter
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty-backend
        name: ty check (backend)
        entry: sh -c 'cd backend && .venv/bin/ty check .'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

      - id: ty-mcp
        name: ty check (mcp)
        entry: sh -c 'cd mcp && .venv/bin/ty check .'
        language: system
        files: ^mcp/.*\.py$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        files: ^(backend|mcp)/
      - id: end-of-file-fixer
        files: ^(backend|mcp)/
      - id: check-merge-conflict
        args: [--assume-in-merge]
        files: ^(backend|mcp)/

fix(backend): fix multiple Apple Health issues (#373)
  backend/app/repositories/data_point_series_repository.py
  backend/app/repositories/event_record_repository.py
  backend/app/schemas/__init__.py
  backend/app/schemas/events.py
  backend/app/schemas/timeseries.py
  backend/app/schemas/workout_types.py
  backend/app/services/apple/healthkit/import_service.py
  backend/app/services/apple/healthkit/sleep_service.py
  backend/app/services/event_record_service.py
  backend/app/services/summaries_service.py
Due: ty-backend

fix(backend): update apple payload handling logic (#387)
  backend/app/repositories/external_mapping_repository.py
  backend/app/schemas/apple/healthkit/record_import.py
  backend/app/schemas/apple/healthkit/source_info.py
  backend/app/schemas/apple/healthkit/workout_import.py
  backend/app/services/apple/healthkit/import_service.py
  backend/app/services/apple/healthkit/sleep_service.py
Due: ty-backend

refactor(api): restructure body summary with semantic metric grouping (#377)
  backend/app/api/routes/v1/summaries.py
  backend/app/repositories/data_point_series_repository.py
  backend/app/schemas/summaries.py
  backend/app/services/summaries_service.py
  backend/tests/api/v1/test_summaries.py
  frontend/src/components/user/body-section.tsx
  frontend/src/hooks/api/use-health.ts
  frontend/src/lib/api/services/health.service.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/query/keys.ts
  frontend/src/lib/utils/body.ts
Due: ty-backend

feat(utils): add utility functions for datetime normalization
  mcp/app/tools/sleep.py
  mcp/app/tools/workouts.py
  mcp/app/utils.py
Due: ty-mcp

Added role and content attributes to the Message for improved clarity in health data presentation.
  mcp/app/prompts.py
Due: ty-mcp

fix(prompts): change Message role from "system" to "user" for accurate health data presentation
  mcp/app/prompts.py
Due: ty-mcp

chore(alembic): add date prefix to migration filenames (#414)
  backend/alembic.ini
  backend/migrations/versions/2025_12_08_0015-bb5425bd11d0_developer_setup.py
  backend/migrations/versions/2025_12_08_0015-bbfb683a7c6c_data_model_v1.py
  backend/migrations/versions/2025_12_18_1217-62a54b62ed20_data_model_v2.py
  backend/migrations/versions/2025_12_18_1325-c1a2b3c4d5e6_add_invitation_table.py
  backend/migrations/versions/2025_12_23_1359-218666d94c82_add_application_table.py
  backend/migrations/versions/2026_01_13_1425-7a36d24b6c9c_timeseries_unique_constraint.py
  backend/migrations/versions/2026_01_29_1839-e9a1db7428bf_data_source_model.py
Due: ty-backend

chore(backend): add WHOOP 5.0 to seed data
  backend/scripts/init/seed_activity_data.py
Due: ty-backend

docs: update pre-commit command in AGENTS.md and mcp/README.md to include 'uv run'
  AGENTS.md
  mcp/README.md
Due: none

docs: add data source priority architecture document (#411)
  .ai/specs/data-source-priority.mdx
Due: none

docs: adjust video styling in example-app documentation for better responsiveness
  docs/sdk/flutter/example-app.mdx
Due: none

feat(backend): update Suunto integration (#482)
  backend/app/services/providers/suunto/data_247.py
  backend/app/utils/dates.py
Due: ty-backend

fix: backend OR mcp
  .pre-commit-config.yaml
  mcp/README.md
Due: none

add iOS SDK docs, update Flutter SDK docs (#484)
  docs/docs.json
  docs/sdk/flutter/index.mdx
  docs/sdk/index.mdx
  docs/sdk/ios/index.mdx
  docs/sdk/ios/integration.mdx
  docs/sdk/ios/troubleshooting.mdx
Due: none

refactor(frontend): extract copyright text to shared constant (#486)
  frontend/src/lib/constants/app.ts
  frontend/src/routes/accept-invite.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/register.tsx
Due: none

docs: update Flutter example app page with new demo sections (#498)
  docs/images/sdk/dashboard.mp4
  docs/sdk/flutter/example-app.mdx
Due: none
